In [19]:
import numpy as np
import pandas as pd

In [43]:
# predictions = pd.read_csv("data/texas/4659.csv") # texas GPT-3.5_turbo shots 3
# predictions = pd.read_csv("data/ASAP_sas/4661.csv") # ASAP_sas GPT shots 3
# predictions = pd.read_csv("data/ASAP_sas/4783.csv") # ASAP_sas GPT shots 0
predictions = pd.read_csv("data/ASAP_sas/4713.csv") # ASAP_sas GPT shots 5

In [44]:
predictions

      y_pred  y_true
0        2.0       2
1        2.0       2
2        1.5       1
3        2.0       2
4        2.0       0
...      ...     ...
1716     1.5       1
1717     2.0       1
1718     0.0       0
1719     1.0       0
1720     2.0       1

[1721 rows x 2 columns]

In [45]:
y_pred = predictions["y_pred"].values

y_pred = np.where(y_pred==500.0, 0.0, y_pred)

In [46]:
from scipy.stats import pearsonr
from sklearn.metrics import mean_squared_error

rmse = np.sqrt(mean_squared_error(predictions["y_true"], y_pred))
correlation, p_value = pearsonr(predictions["y_true"], y_pred)

In [47]:
print(f"rmse: {rmse}")
print(f"Correlation: {correlation}")

rmse: 0.9259321668931213
Correlation: 0.5414998926899888

In [14]:
import pandas as pd

# Assuming you have a DataFrame called 'df' with a column named 'column_name'
value_counts = predictions['y_true'].value_counts()

print(value_counts)

2    34
1    23
0     8
Name: y_true, dtype: int64

In [15]:
predictions.query("y_true == 0")

      y_pred  y_true
15  0.777160       0
26  1.296613       0
33  0.456907       0
38  0.320272       0
40  0.671751       0
42  0.430664       0
50  0.489094       0
55  1.350142       0